
name: build

on: [push]

env:
  FPTAYLOR_VERSION: 'a318f5b2c83a389777a7ef9a0c094f54412bcda2'
  FPLLL_VERSION: '5.2.1'
  SOLLYA_VERSION: 'sollya-7.0'
  CAKEML_VERSION: 'v1217'
  Z3_VERSION: '4.8.4'
  Z3_DISTR: 'z3-4.8.4.d6df51951f4c-x64-ubuntu-16.04'
  CAKEML_BASE: '../cache/cake'
  DAISY_VERSION: '8f26766b3a6a42de644f259cd2b85cf7f7f08477'
  DAISY_BASE: '../cache/daisy'

# Daisy must run on Java 8, changing runner OS may break this
  
jobs:
  build:
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@v2
      
      - uses: actions/cache@v1
        id: cache
        with:
          path: ../cache
          key: ${{ runner.os }}-deps2   # Might need to change this every now and then (or wait a week) if cache is out-of-date
        
      - uses: actions/setup-node@v1
        with:
          node-version: '10.15.1'

      - uses: Bogdanp/setup-racket@v0.7
        with:
          version: '7.3'
          
      - name: "Setup environment"
        run: |     
          sudo apt-get update
          sudo apt-get install -y gnuplot libmpfr-dev libmpfi-dev libxml2-dev flex bison ocaml
          (git clone https://github.com/fplll/fplll.git ../cache/fplll || echo "Assuming FPLLL cached, skipping clone")
          (cd ../cache/fplll && git checkout ${FPLLL_VERSION} && ./autogen.sh && ./configure && make && sudo make install && sudo ldconfig)
          (git clone https://scm.gforge.inria.fr/anonscm/git/sollya/sollya.git ../cache/sollya || echo "Assuming sollya cached, skipping clone")
          (cd ../cache/sollya && git checkout ${SOLLYA_VERSION} && ./autogen.sh && ./configure && make && sudo make install && sudo ldconfig)   
          which sollya
          (git clone https://github.com/soarlab/FPTaylor.git ../cache/fptaylor || echo "Asuming FPTaylor cached, skipping clone")
          (cd ../cache/fptaylor && git checkout ${FPTAYLOR_VERSION} && make)
          [[ ! -d "../cache/${Z3_DISTR}" ]] && curl -L -O https://github.com/Z3Prover/z3/releases/download/z3-${Z3_VERSION}/${Z3_DISTR}.zip && \
             unzip ${Z3_DISTR}.zip -d ../cache || echo "z3 cached"
          (mkdir ../cache/cake && curl -L https://github.com/CakeML/cakeml/releases/download/${CAKEML_VERSION}/cake-x64-64.tar.gz | \
            tar -xz -C ../cache/cake --strip-components 1 && (cd ../cache/cake && make cake) || echo "cakeml cached")
          (mkdir ../cache/sbt && curl -L -O https://piccolo.link/sbt-0.13.18.tgz && tar -xf sbt-0.13.18.tgz -C ../cache/sbt --strip-components 1 || \
            echo "Assuming sbt 0.13.18 is cached, skipping download")
          (git clone https://github.com/malyzajko/daisy ../cache/daisy && cd ../cache/daisy && git checkout ${DAISY_VERSION} && ../sbt/bin/sbt compile && \
            ../sbt/bin/sbt script || echo "Assuming Daisy cached, skipping clone")
          echo "${PWD}/../cache/fptaylor" >> $GITHUB_PATH
          echo "${PWD}/../cache/${Z3_DISTR}/bin" >> $GITHUB_PATH
          echo "${PWD}/../cache/cake" >> $GITHUB_PATH
          echo "${PWD}/../cache/daisy" >> $GITHUB_PATH
 
      - name: "Byte-compile repo"
        id: setup
        run: make setup testsetup

      # If any of the previous steps fail, don't continue
      # Past this point, allow steps to execute even if previous ones fail

      - name: "C sanity"
        id: c_sanity
      # if: ${{ steps.setup.outcome == 'success' }}
        run: make c-sanity

      - name: "JS sanity"
        id: js_sanity
        if: ${{ (success() || failure()) && steps.setup.outcome == 'success' }}
        run: make js-sanity  
      
      - name: "Go sanity"
        id: go_sanity
        if: ${{ (success() || failure()) && steps.setup.outcome == 'success' }}
        run: make go-sanity  
      
      - name: "Sollya sanity"
        id: sollya_sanity
        if: ${{ (success() || failure()) && steps.setup.outcome == 'success' }}
        run: make sollya-sanity  
      
      - name: "Z3 sanity"
        id: z3_sanity
        if: ${{ (success() || failure()) && steps.setup.outcome == 'success' }}
        run: make smtlib2-sanity 

      - name: "CakeML sanity"
        id: cml_sanity
        if: ${{ (success() || failure()) && steps.setup.outcome == 'success' }}
        run: make cml-sanity 

      - name: "Wolfram/Mathematica sanity"
        id: wls_sanity
        if: ${{ (success() || failure()) && steps.setup.outcome == 'success' }}
        run: make wls-sanity
      
      - name: "FPTaylor sanity"
        id: fptaylor_sanity
        if: ${{ (success() || failure()) && steps.setup.outcome == 'success' }} 
        run: make fptaylor-sanity

      - name: "Daisy sanity"
        id: daisy_sanity
        if: ${{ (success() || failure()) && steps.setup.outcome == 'success' }}
        run: make scala-sanity

      - name: "C test"
        if: ${{ (success() || failure()) && steps.c_sanity.outcome == 'success' }}
        run: make c-test

      - name: "JS test"
        if: ${{ (success() || failure()) && steps.js_sanity.outcome == 'success' }}
        run: make js-test  
      
      - name: "Go test"
        if: ${{ (success() || failure()) && steps.go_sanity.outcome == 'success' }}
        run: make go-test  
      
      - name: "Sollya test"
        if: ${{ (success() || failure()) && steps.sollya_sanity.outcome == 'success' }}
        run: make sollya-test  
      
      - name: "Z3 test"
        if: ${{ (success() || failure()) && steps.z3_sanity.outcome == 'success' }}
        run: make smtlib2-test 

      - name: "CakeML test"
        if: ${{ (success() || failure()) && steps.cml_sanity.outcome == 'success' }}
        run: make cml-test 

      - name: "Wolfram/Mathematica test"
        if: ${{ (success() || failure()) && steps.wls_sanity.outcome == 'success'}}
        run: make wls-test 
      
      - name: "FPTaylor test"
        if: ${{ (success() || failure()) && steps.fptaylor_sanity.outcome == 'success' }} 
        run: make fptaylor-test

      - name: "Daisy test"
        if: ${{ (success() || failure()) && steps.daisy_sanity.outcome == 'success' }}
        run: make scala-test

      - name: "Export tool"
        if: ${{ (success() || failure()) && steps.setup.outcome == 'success' }}
        run: make export-test

      - name: "Transform tool"
        if: ${{ (success() || failure()) && steps.setup.outcome == 'success' }}
        run: make transform-test

      - name: "Toolserver tool"
        if: ${{ (success() || failure()) && steps.setup.outcome == 'success' }}
        run: make toolserver-test

      - name: "Evaluate tool"
        if: ${{ (success() || failure()) && steps.setup.outcome == 'success' }}
        run: make evaluate-test

      - name: "Raco tests"
        if: ${{ (success() || failure()) && steps.setup.outcome == 'success' }}
        run: make raco-test